In [1]:
import pandas as pd
from pycaret.classification import *
import numpy as np
from openpyxl import Workbook, load_workbook
from xlsxwriter import Workbook

In [2]:
caminho1 = "C:/Users/thiag/OneDrive/curso python/modelo_leandro_2/"

df_jogos = pd.read_csv(caminho1 + 'jogos_estatistica.csv')

In [15]:
df_jogos

,id,date_unix,Liga,home_name,away_name,odds_ft_1,odds_ft_x,odds_ft_2,odds_ft_over05,odds_ft_over15,...,md10_away_05ft,md10_away_05ht,p_H,p_D,p_A,md10_away_15ft,cv_valordogol_away_intervalos,cv_valordogol_home_intervalos,valordogol_home_intervalos,valordogol_away_intervalos
0,4407665,2022-12-02 09:45:00,Egito_A,Ismaily SC,Smouha SC,2.30,3.00,2.75,1.07,1.41,...,90,60,0.43,0.33,0.36,60,6,6,1,3
1,4407666,2022-12-02 09:45:00,Egito_A,Al Mokawloon,Ceramica Cleopatra,2.37,2.90,2.80,1.09,1.44,...,80,70,0.42,0.34,0.36,50,6,6,1,1
2,2708247,2022-12-02 10:30:00,romenia A,UTA Arad,Sepsi,3.40,2.80,2.10,0.00,1.50,...,90,70,0.29,0.36,0.48,70,4,1,2,6
3,4407667,2022-12-02 14:00:00,Egito_A,Al Ahly,El Geish,2.00,3.10,3.40,1.06,1.42,...,80,50,0.50,0.32,0.29,20,1,3,2,2
4,2568159,2022-12-02 16:45:00,inglaterra_one,Bolton Wanderers,Bristol Rovers,1.65,3.90,5.00,1.03,1.22,...,100,80,0.61,0.26,0.20,90,2,4,4,6
5,2568160,2022-12-02 16:45:00,inglaterra_one,Charlton Athletic,Cheltenham Town,1.75,3.70,4.60,1.04,1.30,...,90,60,0.57,0.27,0.22,50,6,4,6,1
6,2568163,2022-12-02 16:45:00,inglaterra_one,Ipswich Town,Fleetwood Town,1.40,4.60,7.50,1.03,1.25,...,100,100,0.71,0.22,0.13,80,1,2,3,5
7,2568165,2022-12-02 16:45:00,inglaterra_one,Morecambe,Exeter City,3.90,3.60,1.87,1.04,1.28,...,80,80,0.26,0.28,0.53,80,1,5,1,6
8,2568166,2022-12-02 16:45:00,inglaterra_one,Peterborough United,Barnsley,1.85,3.50,4.20,1.04,1.28,...,90,80,0.54,0.29,0.24,50,4,3,6,3
9,2568167,2022-12-02 16:45:00,inglaterra_one,Plymouth Argyle,Port Vale,1.91,3.50,3.80,1.04,1.28,...,100,80,0.52,0.29,0.26,90,3,1,6,5
10,2580889,2022-12-02 16:45:00,inglaterra_two,Crewe Alexandra,Newport County,2.88,3.10,2.50,1.08,1.42,...,90,70,0.35,0.32,0.40,70,5,1,4,4
11,2580890,2022-12-02 16:45:00,inglaterra_two,Doncaster Rovers,Walsall,2.55,3.25,2.75,1.08,1.42,...,80,50,0.39,0.31,0.36,60,2,2,5,2
12,2580897,2022-12-02 16:45:00,inglaterra_two,Stevenage,Barrow,1.87,3.40,4.20,1.07,1.40,...,100,90,0.53,0.29,0.24,60,5,5,5,4
13,2604626,2022-12-02 17:30:00,espanha_B,Granada CF,Deportivo Alavés,2.20,2.88,3.25,1.10,1.47,...,90,70,0.45,0.35,0.31,80,3,6,3,1

In [3]:
#LAYDRAW

saved_final_lr = load_model('LAYDRAW_LR_TODOS_JOGOS')

laydraw = predict_model(saved_final_lr, data = df_jogos)

df4 = pd.merge(df_jogos, laydraw, how='left', on=["id"])
df4 = df4[['id', 'date_unix', 'Liga', 'home_name', 'away_name', 'odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'prediction_label']]

laydraw = ((df4['prediction_label'] == 1))

df4_laydraw = df4[laydraw]

Transformation Pipeline and Model Successfully Loaded

In [121]:
df4_laydraw

,id,date_unix,Liga,home_name,away_name,odds_ft_1,odds_ft_x,odds_ft_2,prediction_label
0,2433369,2022-12-01 10:00:00,bulgaria_A,Ludogorets,Levski Sofia,1.68,3.72,4.50,1
1,2708139,2022-12-01 14:00:00,romenia A,Botoşani,FCSB,3.46,3.42,2.06,1

In [4]:
#back home 


saved_final_lr = load_model('BACKHOME_RF_TODOS_JOGOS')

backhome = predict_model(saved_final_lr, data = df_jogos)

df5 = pd.merge(df_jogos, backhome, how='left', on=["id"])
df5 = df5[['id', 'date_unix', 'Liga', 'home_name', 'away_name', 'odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'prediction_label']]

backhome = ((df5['prediction_label'] == 1))

df4_backhome = df5[backhome]

Transformation Pipeline and Model Successfully Loaded

In [5]:
df4_backhome

,id,date_unix,Liga,home_name,away_name,odds_ft_1,odds_ft_x,odds_ft_2,prediction_label
4,2568159,2022-12-02 16:45:00,inglaterra_one,Bolton Wanderers,Bristol Rovers,1.65,3.9,5.0,1
5,2568160,2022-12-02 16:45:00,inglaterra_one,Charlton Athletic,Cheltenham Town,1.75,3.7,4.6,1
6,2568163,2022-12-02 16:45:00,inglaterra_one,Ipswich Town,Fleetwood Town,1.40,4.6,7.5,1
8,2568166,2022-12-02 16:45:00,inglaterra_one,Peterborough United,Barnsley,1.85,3.5,4.2,1
12,2580897,2022-12-02 16:45:00,inglaterra_two,Stevenage,Barrow,1.87,3.4,4.2,1

In [6]:
# back away
saved_final_lr = load_model('BACKAWAY_RF_TODOS_JOGOS')

backaway = predict_model(saved_final_lr, data = df_jogos)

df6 = pd.merge(df_jogos, backaway, how='left', on=["id"])
df6 = df6[['date_unix', 'Liga', 'home_name', 'away_name', 'odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'prediction_label']]

backaway= ((df6['prediction_label'] == 1))

df4_backaway = df6[backaway]

Transformation Pipeline and Model Successfully Loaded

In [7]:
df4_backaway

Empty DataFrame
Columns: [date_unix, Liga, home_name, away_name, odds_ft_1, odds_ft_x, odds_ft_2, prediction_label]
Index: []

In [11]:
#lay home

saved_final_lr = load_model('LAYHOME_ET_TODOS_JOGOS')

layhome = predict_model(saved_final_lr, data = df_jogos)

df7 = pd.merge(df_jogos, layhome, how='left', on=["id"])
df7 = df7[['date_unix', 'Liga', 'home_name', 'away_name', 'odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'prediction_label']]

layhome = ((df7['prediction_label'] == 1))

df7_layhome = df7[layhome]

Transformation Pipeline and Model Successfully Loaded

In [12]:
   df7_layhome

,date_unix,Liga,home_name,away_name,odds_ft_1,odds_ft_x,odds_ft_2,prediction_label
0,2022-12-02 09:45:00,Egito_A,Ismaily SC,Smouha SC,2.30,3.00,2.75,1
1,2022-12-02 09:45:00,Egito_A,Al Mokawloon,Ceramica Cleopatra,2.37,2.90,2.80,1
2,2022-12-02 10:30:00,romenia A,UTA Arad,Sepsi,3.40,2.80,2.10,1
3,2022-12-02 14:00:00,Egito_A,Al Ahly,El Geish,2.00,3.10,3.40,1
7,2022-12-02 16:45:00,inglaterra_one,Morecambe,Exeter City,3.90,3.60,1.87,1
9,2022-12-02 16:45:00,inglaterra_one,Plymouth Argyle,Port Vale,1.91,3.50,3.80,1
10,2022-12-02 16:45:00,inglaterra_two,Crewe Alexandra,Newport County,2.88,3.10,2.50,1
11,2022-12-02 16:45:00,inglaterra_two,Doncaster Rovers,Walsall,2.55,3.25,2.75,1
12,2022-12-02 16:45:00,inglaterra_two,Stevenage,Barrow,1.87,3.40,4.20,1
13,2022-12-02 17:30:00,espanha_B,Granada CF,Deportivo Alavés,2.20,2.88,3.25,1

In [13]:
#lay away -
#df_jogos = df_jogos[nova_lista]

saved_final_lr = load_model('LAYAWAY_rf_TODOS_JOGOS')

layaway = predict_model(saved_final_lr, data = df_jogos)

df4 = pd.merge(df_jogos, layaway, how='left', on=["id"])
df4 = df4[['date_unix', 'Liga', 'home_name', 'away_name', 'odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'prediction_label']]

layaway = ((df4['prediction_label'] == 1))

df4_layaway = df4[layaway]

Transformation Pipeline and Model Successfully Loaded

In [3]:
#lay away -
#df_jogos = df_jogos[nova_lista]

saved_final_lr = load_model('BACKHOME_EGITO_A')

layaway = predict_model(saved_final_lr, data = df_jogos)

df4 = pd.merge(df_jogos, layaway, how='left', on=["id"])
df4 = df4[['date_unix', 'Liga', 'home_name', 'away_name', 'odds_ft_1', 'odds_ft_x', 'odds_ft_2', 'prediction_label']]

layaway = ((df4['prediction_label'] == 1))

BACKHOME_EGITO_A = df4[layaway]

Transformation Pipeline and Model Successfully Loaded

In [4]:
BACKHOME_EGITO_A

,date_unix,Liga,home_name,away_name,odds_ft_1,odds_ft_x,odds_ft_2,prediction_label
0,2022-12-15 17:00:00,escocia_A,Rangers,Hibernian,1.33,5.50,8.50,1
3,2022-12-16 14:00:00,Egito_A,Al Ahly,Coca-Cola,1.69,3.45,4.60,1
9,2022-12-16 16:00:00,holanda_B,Heracles,Dordrecht,1.21,6.00,9.25,1

In [131]:
#df_jogos.to_excel(caminho1 + 'df_jogos.xlsx', sheet_name='completo', encoding='utf-8', index=False)

writer=pd.ExcelWriter(caminho1 + 'marchine_learnig.xlsx', engine='xlsxwriter')

df4_backhome.to_excel(writer, sheet_name='backhome',
                        encoding='utf-8', index=False)
df4_backaway.to_excel(writer, sheet_name='backaway',
                        encoding='utf-8', index=False)
df4_layhome.to_excel(writer, sheet_name='layhome',
                        encoding='utf-8', index=False) 
df4_laydraw.to_excel(writer, sheet_name='laydraw',
                        encoding='utf-8', index=False) 
df4_layaway.to_excel(writer, sheet_name='layaway',
                        encoding='utf-8', index=False)

writer.save()

writer.close()